*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header i{
	color: rgb(0, 255, 174);
	font-size: 28px;
	margin-left: 10px;
}
#menu{
	cursor: pointer;
	display: none;
}

@media (max-width: 880px){
	#menu{
	display: block;
	}
	.navbar{
	position: absolute;
	top: 100%;
	right: 2%;
	width: 200px;
	height: 29vh;
	background:rgb(80, 98, 97);
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 20px;
	transition: all 0.5s;
	}

	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
		color: white;
	}
	.navbar a:hover {
	color: rebeccapurple;
	transform: translateY(5px);
	}
	/* .navbar a.active{
	color: var(--text-color);
	}  */
	.navbar.open {
        height: 29vh;
		display: block;
      }
}

html::-webkit-scrollbar {
	width: 1vw;
	}
	html::-webkit-scrollbar-thumb {
	background-color: rgba(93, 91, 110, 0.333);
	}
	html::-webkit-scrollbar-thumb:hover {
	background-color: #777;
	}
	html::-webkit-scrollbar-track {
	background-color: #16161955;
	}


body{
    background-color: #1f242d;
}

.header{
    width: 100%;
    position: fixed;
    padding: 1rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
	background-color: #021125;
}

.name{
    color: white;
    font-weight: 500;
    text-decoration: none;
	font-size: 32px;
    margin-left: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    transition: .3s;
}
.navbar a:hover{
    color:rgb(86, 249, 249);
    text-decoration: underline;
}


#about{
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
#about b{
	font-size: 20px;
	font-style: italic;
}
#about span{
	font-style: italic;
	font-weight: 800;
}
.about ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.about-section li{
    border: 3px solid rgb(52, 238, 248);
    border-radius: 50%;
    margin-left: 30px;
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    
    
}
.contact-item i{
    font-size: 1.5em;
    color: aquamarine;
    
}
.about-section li:hover {
    background: rgb(60, 239, 239);
    box-shadow: 0px 0px 20px rgb(104, 175, 237);
}    

.about-section i:hover{
    color: rgb(5, 5, 5);
}

.btn{
    margin-top: 100px;
    display: inline-block;
    background-color: aqua;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}
.btn:hover{
    box-shadow: 0px 0px 20px rgb(45, 234, 240);
}


/* skills */
hr{
    color: aliceblue;
}
.box{
	color: #dde7cc;
  }	



.chk{
    color: aliceblue;
}
/* .chk1:hover{
   
    box-shadow: 0px 0px 20px rgb(45, 234, 240);
} */

.chk p:hover {
   
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgb(30, 132, 175); 
    transition: 0.3s;
  }



  /*timeline*/
.experience{
	padding-top: 50px;
}
.section-title{
	color: rgb(219, 197, 197);
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #2fd6d6;
	bottom: 0;
	left: 42%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #36ebff;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
ul.timeline-list {
	position: relative;
	margin: auto;
	padding: 0;
	max-width: 500px;
	
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #36f2ff;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}
.timeline_content {
	border: 2px solid #36ffff;
	background-color:#fff;
}
ul.timeline-list li .timeline_content {
	width: 45%;
	color: white;
	padding: 30px;
	float: left;
	text-align: right;
	background-image: linear-gradient(to right,#021d28, #0a3c7c);
}
ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}
.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: #36fff2;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	font-family: poppins;
	color: #ff3636;
}


/* project */

.slider-wrapper::-webkit-scrollbar {
	width: 1vw;
	border-radius: 2rem;
	}
.slider-wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(30, 142, 187, 0.333);
	border-radius: 2rem;
	}
.slider-wrapper::-webkit-scrollbar-thumb:hover {
	background-color: #06587e;
	}
.slider-wrapper::-webkit-scrollbar-track {
	background-color: #16161955;
	}
.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 500px;
}
html{
	scrollbar-color: green ;
}

.card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
    /* border: 1px solid #36ebff; */
    transform: scale(1);
    transition: transform 0.3s;
	background-color: #1f242d;
	/* border-radius: 2rem; */
	margin-bottom: 30px;
}
.color{
	margin-top: 10px;
	background-image: linear-gradient(to right, #021d28, #0a3c7c);
	color: white;
    border-color: #36ebff;
	
}
.project-color{
	color: rgb(227, 211, 211);
}

#projects .card-title{
	color: #37db9c;
} 

#projects strong{
	color: #76d99f;
}
.card-body{
	background-image: linear-gradient(to right,#021d28, #0a3c7c);
	padding: 2rem 2rem 4rem;
	border-radius: 2rem;
	border: 3px solid rgb(40, 196, 224);
	width: 300px;
	height: 400px;
	text-align: center;
	transition: 0.3s;
}

.card-body:hover{
    box-shadow: 0px 0px 10px rgb(45, 234, 240);
    transform: scale(1.07);
	border-width: 0.2em;
 
}

.color:hover{
    color: #12dfff;
}


footer a{
	text-decoration: none;
	font-size: 18px;
}

footer a:hover{
	font-weight: 500;
	font-size: 22px;
	text-decoration: underline;
}
.link{
	text-decoration: none;
	color: white;
}

